body {
    border: 5px solid #333;/* Largura e cor da borda */
    border-radius: 10px;/* Raio para tornar a borda arredondada */
    padding: 20px;/* Espaçamento interno para evitar que o conteúdo encoste na borda */
    margin: 0;/* Remova a margem padrão do corpo */
    box-sizing: border-box;/* Inclua a largura da borda no cálculo do tamanho total */
    background-color: #ffe6d5;
    margin-bottom: 70px;
}
/*Estilização Cabeçalho*/
header.top_nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #e7a8a4;
    border: 2px solid #894f4b;
    border-radius: 10px;
}
 
.icones {
    display: block;
    width: 75%;
    height: 75%;
    float: left;
    border-style: hidden;
}
 
 
a {
    text-decoration: none;
    font-family: 'Times New Roman', Times;
    width: 75%;
    
}
 
img.logo {
    display: block;
    height: 100%;
    width: 55%;
    float: left;
}
 
ul {
    display: flex;
    list-style-type: none;
    font-size: x-large
}
 
.navbar {
    width: 100%;
    background-color: #e7a8a4;
    overflow: auto;
}
 
.navbar a {
    float: right;
    padding: 8%;
    color: white;
    text-decoration: none;
    font-size: 17px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #e7a8a4;
    border-radius: 10px;
}
 
.navbar a:hover {/*Quando passar o ponteiro do mouse por cima da destaque*/
    background-color: #894f4b;
    color: white;
    text-decoration:none;
}
 
/*Estilização Roda Pé*/
footer {
    background-color: #e7a8a4;
    border-style: solid;
    border-width: 2px;
    border-color: #894f4b;
    border-radius: 10px;
    position: fixed;
    /* Fixa o rodapé na parte inferior da viewport */
    bottom: 0;
    /* Alinha o rodapé na parte inferior */
    width: 100%;
    /* Garante que o rodapé ocupe 100% da largura da viewport */
}
 
.texto_footer {
    text-align: center;
    margin-left: 5px;
    margin: 0;
    padding: 20px;
    color: white;
    font-family: 'Times New Roman', Times;
}
 
.logofooter {
    width: 85px;
    height: 85px;
    float: left;
}
 
/*Estilização Para todas as páginas*/
.whats {
    /*Icone do whatsapp linkado*/
    position: fixed;
    bottom: 0;
    right: 100;
    align-items: flex-end;
    width: 200px;
}
 
h1,
h2 {
    /*Estilização dos títulos e subtitulos das páginas*/
    text-align: center;
    font-family: 'Times New Roman', Times;
}
 
 
p {
    /*Estilização dos textos das páginas*/
    color: black;
    font-family: 'Times New Roman', Times;
}
 
/*Estilização Index*/
.corfundo {
    background-color: #ffe6d5;
}
 
.carousel-inner img {
    width: 50%;
    /* Ajuste a largura conforme necessário */
    height: 500px;
    /* Mantenha a proporção original da imagem */
    object-fit: cover;
}
 
 
.carousel-inner {
    text-align: center;
    /* Estilo personalizado para centralizar as imagens */
    background-color: #ffe6d5;
}
 
.carousel-item {
    display: inline-block;
}
 
 
.carousel-control-prev,
.carousel-control-next {
    /* Estilo personalizado para as setas do carrossel */
    background-color: #ffe6d5;
    /* Cor do ícone da seta */
}
 
 
.carousel-control-prev:hover,
.carousel-control-next:hover {
    /* Estilo adicional para destacar as setas ao passar o mouse sobre elas */
    background-color: #ffe6d5;
    /* Cor do ícone da seta */
}
 
.container{
    padding: 0xp 50 xp;
    text-align: left;
    color: black;
    position: relative;
    font-family: 'Times New Roman', Times;
    font-size: 20px;
}
/*Estilização Produtos*/
section {
    text-align: center;
    /* Centraliza o conteúdo */
    margin-bottom: 250px;
    /* Adiciona espaço abaixo de cada seção */
}
 
 
.produtos-container {
    display: flex;
    justify-content: space-around;
    /* Espaço entre os produtos */
    flex-wrap: wrap;
    /* Permite que os produtos quebrem para a próxima linha */
}
 
.produto {
    width: 300px;
    /* Ajuste a largura conforme necessário */
    height: 200px;
    /* Altura fixa para todas as imagens */
    margin: 10px;
    /* Adiciona espaço entre os produtos */
}
 
.produtos {
    width: 100%;
    /* Garante que a imagem ocupe 100% da largura do contêiner */
    height: 100%;
    /* Garante que a imagem ocupe 100% da altura do contêiner */
    object-fit: cover;
    /* Mantém a proporção original da imagem e a preenche no contêiner */
    border-radius: 20%;
    border: 2px solid #894f4b;
}
 
/*Estilização Especial*/
.img_especial {
    width: 600px;
    /* Define a largura como 100% do contêiner pai */
    height: 400px;
    /* Define a altura como 100% do contêiner pai */
    object-fit: cover;
    /* Mantém a proporção e corta para cobrir o contêiner */
    border-radius: 20%;
    /* Arredonda os cantos das imagens*/
    border: 2px solid #894f4b;
    margin-left: 10%;
    margin-right: 10%;
}


.texto_especial1{
    display:flex ;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding-left: 10%;
    padding-right: 10% ;
}

.container_especial{
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 20px;
}
 
/*Estilização Blog*/
.blog_container1{
    display: flex;
    justify-content: center;
    align-items: right;
    font-size: 18px;
}
 
.img_blog{
    width: 600px; /* Define a largura como 100% do contêiner pai */
    height: 400px; /* Define a altura como 100% do contêiner pai */
    object-fit: cover; /* Mantém a proporção e corta para cobrir o contêiner */
    border-radius: 20%; /* Arredonda os cantos das imagens*/
    border: 2px solid #894f4b;
    margin-right: 100px;
}

.blogaling { 
    margin-left: 10%;
    margin-right: 10%;
    text-align: left; /* Alinha o texto à esquerda */
}

.blogaling p {    
    text-align: left; /* Alinha o texto à esquerda */
}
 
/*Estilização Contato*/
/* Estilo geral da caixa de contato */
.box_contact {
    margin-bottom: 20px;
    /* Espaçamento entre os campos */
}
 
#contact {
    margin-left: 15%;
    margin-right: 15%;
    text-align: left;
    font-size: 20px;
}
 
input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: none;
    /* Remova todas as bordas */
    border-bottom: 1px solid #ccc;
    /* Adicione uma borda inferior */
    background-color: inherit;
    font-size: 20px;
}
 
button {
    background-color: #4CAF50;
    /* Cor de fundo do botão */
    color: white;
    /* Cor do texto do botão */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
 
button:hover {
    background-color: #45a049;
    /* Cor de fundo ao passar o mouse sobre o botão */
}
 
